<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
    <link rel="normalize" href="../stylesheet/normalize.css">
    <title></title>
</head>
<body>
    <div class="carreras">
        <h1>SALUD</h1>
    </div>
    <div class="carreras">
        <h1>ELECTRICIDAD</h1>
    </div>
    <div class="carreras">
        <h1>INFORMATICA Y REDES</h1>
    </div>
    <div class="carreras">
        <h1>MECÁNICA</h1>
    </div>
    <div class="carreras">
        <h1>ENERGIA RENOVABLE</h1>
    </div>
    <div class="carreras">
        <h1>MAQUINARIA</h1>
    </div>
    <div class="carreras">
        <h1>INGLES</h1>
    </div>
    <div class="carreras">
        <h1>MATEMÁTICAS</h1>
    </div>
    <div class="carreras">
        <h1>LENGUAJE</h1>
    </div>
    <div class="carreras">
        <h1>ÉTICA Y FORMACIÓN CRISTIANA</h1>
    </div>
    <div class="carreras">
        <h1>INNOVACIÓN Y EMPRENDIMIENTO</h1>
    </div>
</body>
</html>