<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
    <link rel="normalize" href="../stylesheet/normalize.css">
    <title>Profesor</title>
</head>
<body>
    <!-- Aqui estamos creando la tarjeta del profesor -->
    <div id="tarjeta-profesor">
        <div id="imagen-profesor">
            <div id="nombre-profesor"></div>
            <div id="biografia-profesor"></div>
            <div id="contenedor-asignaturas">
                <div id="asignaturas-impartidas">
                    <h3>Asignaturas impartidas</h3>
                </div>
                <div id="ramo">
                    <h3>RAMO-TEST 11-2</h3>
                </div>
            </div>
        </div>
        <button>
            ¡Enviale un correo a tu docente!
        </button>
    </div>
</body>
</html>