<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">
    <title>Scroll profes</title>
</head>
<body>
    <div class="container-profes">
        <container class="container-scroll-profes borde-negro">
            <img class="icono-profe" src="../imagenes/icono-perfil.jpg">
            <div class="profesor-info">
                <h3>Nombre Profesor</h3>
                <img class="boton-gmail" src="../imagenes/icono-gmail.png">
            </div>
        </container>
        <container class="container-scroll-profes borde-negro">
            <img class="icono-profe" src="../imagenes/icono-perfil.jpg">
            <div class="profesor-info">
                <h3>Nombre Profesor</h3>
                <img class="boton-gmail" src="../imagenes/icono-gmail.png">
            </div>
        </container>
    </div>
    
</body>
</html>